In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data_source/cookie_cats.csv")
df.head()

   userid  version  sum_gamerounds  retention_1  retention_7
0     116  gate_30               3        False        False
1     337  gate_30              38         True        False
2     377  gate_40             165         True        False
3     483  gate_40               1        False        False
4     488  gate_40             179         True         True